<h1>Account</h1>
<form action="/account" method="post">
  
  <input type ="text" name="username"  placeholder="<%= current_user.username %>"><br>
  <input type ="text" name="password"  placeholder="<%= current_user.password %>"><br>
  <input type="text" name="email"  placeholder="<%= current_user.email%>"><br>
  <input type="text" name="birthday" placeholder="<%= current_user.birthday %>"><br>
  <input type="submit" value="Delete">
</form>