<div class="container">
  <div class="row">
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/signup" method="post">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Username:</label>
            <input type="text" name="username" placeholder="Enter username">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Password:</label>
            <input type="password" name="password" placeholder="Enter password">
          </div>
           <div class="form-group">
            <label for="recipient-name" class="col-form-label">Email:</label>
            <input type="text" name="email" placeholder="Enter email">
          </div>
           <div class="form-group">
            <label for="recipient-name" class="col-form-label">Birthday:</label>
            <input type="text" name="birthday" placeholder="Enter birthday">
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Submit">
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
 <img src="https://icdn3.digitaltrends.com/image/poster-for-5718001437001-720x720.jpg">
<form action="/login" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" placeholder="Enter username">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
  </div>
  
  <button type="submit" class="btn btn-primary">Log in</button>
</form>
<div id='diaplayline'>
  <img src="https://vignette.wikia.nocookie.net/mariokart/images/9/91/MK8_Yoshi_Icon.png/revision/latest?cb=20151225134454">
  <img src="https://www.mariowiki.com/images/1/1d/MK8DX_King_Boo_Icon.png">
  <img src="https://vignette.wikia.nocookie.net/mariokart/images/5/51/MK8_Luigi_Icon.png/revision/latest?cb=20151225134157">
</div>

<br>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Sign up</button><br>

<img src="https://mariokart8.nintendo.com/assets/img/top/char_mario.png">

 
      
    </div>
      <div class="col-sm">
      
    </div>
  </div>
</div>



